<%= form_with(model: bussiness) do |form| %>
  <% if bussiness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bussiness.errors.count, "error") %> prohibited this bussiness from being saved:</h2>

      <ul>
        <% bussiness.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.select :office, Bussiness.offices.map {|key, value|[key.humanize, key]} %>
  </div>

  <div class="field">
    <%= form.label :interested %>
    <%= form.select :interested, Bussiness.interesteds.map {|key, value|[key.humanize, key]} %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

   <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

   <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :site_web %>
    <%= form.text_field :site_web %>
  </div>

   <div class="field">
    <%= form.label :chatbot %>
    <%= form.check_box :chatbot %>
  </div>

  <div class="field">
    <%= form.label :automated_appointment %>
    <%= form.check_box :automated_appointment %>
  </div>
  <div class="field">
    <%= form.label :newsletter %>
    <%= form.check_box :newsletter %>
  </div>
  <div class="field">
    <%= form.label :transactional_site %>
    <%= form.check_box :trans_site %>
  </div>
  <div class="field">
    <%= form.label :delivery %>
    <%= form.check_box :delivery %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
