<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bussiness.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @bussiness.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bussiness.zipcode %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @bussiness.neighborhood %>
</p>

<p>
  <strong>Interested:</strong>
  <%= @bussiness.interested %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @bussiness.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @bussiness.instagram %>
</p>

<p>
  <strong>Site Web:</strong>
  <%= @bussiness.site_web %>
</p>
<p>
  <strong>System Price de RVD:</strong>
  <%= @bussiness.system_price %>
</p>
<p>
  <strong>Newsletter:</strong>
  <%= @bussiness.newsletter %>
</p>
<p>
  <strong>Transactional Site:</strong>
  <%= @bussiness.trans_site %>
</p>
<p>
  <strong>Chatbot:</strong>
  <%= @bussiness.chatbot %>
</p>
<p>
  <strong>Delivery:</strong>
  <%= @bussiness.delivery %>
</p>
<p>
  <strong>Email:</strong>
  <%= @bussiness.email %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @bussiness.comments %>
</p>


<%= link_to 'Edit', edit_bussiness_path(@bussiness) %> |
<%= link_to 'Back', bussinesses_path %>
