<p id="notice"><%= notice %></p>


<ul class="list-group">
  <h3><li class="list-group-item active" aria-current="true"><strong><%= @bussiness.name %></strong></li></h3>
</ul>

<br>

<ol>

<% if @bussiness.team %>
<p>
  <strong>Team:</strong>
  <%= @bussiness.team.name %>
</p>
<% end %>

<p>
  <strong>Address:</strong>
  <%= @bussiness.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bussiness.zipcode %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @bussiness.neighborhood %>
</p>

<p>
  <strong>Interested:</strong>
  <%= @bussiness.interested %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @bussiness.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @bussiness.instagram %>
</p>

<p>
  <strong>Web Site:</strong>
  <%= @bussiness.site_web %>
</p>
<p>
  <strong>System Price de RVD:</strong>
  <%= @bussiness.system_price %>
</p>
<p>
  <strong>Newsletter:</strong>
  <%= @bussiness.newsletter %>
</p>
<p>
  <strong>Transactional Site:</strong>
  <%= @bussiness.trans_site %>
</p>
<p>
  <strong>Chatbot:</strong>
  <%= @bussiness.chatbot %>
</p>
<p>
  <strong>Delivery:</strong>
  <%= @bussiness.delivery %>
</p>
<p>
  <strong>Email:</strong>
  <%= @bussiness.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bussiness.phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @bussiness.comments %>
</p>

</ol>

<hr>

<%= link_to 'Edit', edit_bussiness_path(@bussiness), class:"btn btn-primary" %> |
<%= link_to 'Back', bussinesses_path, class:"btn btn-primary" %>
