<body class="text-center">
<main class="form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
    <%= image_tag("logos/cercle_api_logo.jpg", class:"logo") %>
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", autocomplete: "email" %>
    </div>
    <div class="form-floating">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <%= f.submit "Sign in", class: "w-100 btn btn-lg btn-primary"%>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  <% end %>
</main>
</body>
<%= render "devise/shared/links" %>

